.menuExternalLink {
  align-items: center;
}

.menuLink {
  padding-left: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.linkLabel {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.8rem;
}
